---
import Layout from "../../layouts/Layout.astro";
import Terminal from "../../components/Terminal.vue";
---

<Layout title="Terminal">
  <section>
    <Terminal client:load />
  </section>
</Layout>

<style>
  section {
    min-height: 0;
    display: flex;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
  }

  body {
    height: 100vh;
  }
</style>
